root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:warning
dotnet_style_require_accessibility_modifiers = always:warning
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion

[*.{axaml,xaml}]
indent_size = 4

[*.{json,csproj,props,targets}]
indent_size = 2

[*.slnx]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
